<section class="gel-masthead js-masthead">

  <div class="gel-masthead__branding">
    <div class="gel-wrap gel-wrap--padded">
      <h1>Page Title</h1>
      <button class="gel-masthead__m-nav-toggle js-m-nav-toggle"></button>
    </div> <!-- / gel-wrap -->
  </div>


  <div class="gel-masthead__nav-wrap gel-masthead__nav-wrap--primary">

    <div class="gel-masthead__nav-primary">

      <div class="gel-wrap gel-wrap--no-padding">

        <ul class="gel-menu js-nav">
          <li class="gel-menu__item"><a href="#">link1</a></li>
          <li class="gel-menu__item"><a href="#">link2</a></li>
          <li class="gel-menu__item is-active"><a href="#">link3</a></li>
          <li class="gel-menu__item"><a href="#">link4</a></li>
          <li class="gel-menu__item"><a href="#">link5</a></li>
          <li class="gel-menu__item"><a href="#">link6</a></li>
          <li class="gel-menu__item"><a href="#">link7</a></li>
          <li class="gel-menu__item"><a href="#">link8</a></li>
          <li class="gel-menu__item"><a href="#">link9</a></li>
          <li class="gel-menu__item"><a href="#">link10</a></li>
          <li class="gel-menu__item"><a href="#">link11</a></li>
          <li class="gel-menu__item"><a href="#">link12</a></li>
          <li class="gel-menu__item"><a href="#">link13</a></li>
          <li class="gel-menu__item"><a href="#">link14</a></li>
          <li class="gel-menu__item"><a href="#">link15</a></li>
          <li class="gel-menu__item"><a href="#">link16</a></li>
          <li class="gel-menu__item"><a href="#">link17</a></li>
          <li class="gel-menu__item"><a href="#">link18</a></li>
          <li class="gel-menu__item"><a href="#">link19</a></li>
          <li class="gel-menu__item"><a href="#">link20</a></li>
        </ul>

        <button class="gel-masthead__nav-toggle js-nav-toggle"></button>

      </div>

    </div>

    <div class="gel-wrap gel-wrap--no-padding">

      <div class="gel-masthead__nav-panel gel-masthead__nav-panel--primary js-nav-panel">

      </div>

    </div>

  </div>


  <div class="gel-masthead__nav-wrap gel-masthead__nav-wrap--local">

    <div class="gel-masthead__nav-local">

      <div class="gel-wrap gel-wrap--no-padding">

        <ul class="gel-menu js-nav">
          <li class="gel-menu__item"><a href="#">link1</a></li>
          <li class="gel-menu__item"><a href="#">link2</a></li>
          <li class="gel-menu__item"><a href="#">link3</a></li>
          <li class="gel-menu__item"><a href="#">link4</a></li>
          <li class="gel-menu__item"><a href="#">link5</a></li>
          <li class="gel-menu__item"><a href="#">link6</a></li>
          <li class="gel-menu__item"><a href="#">link7</a></li>
          <li class="gel-menu__item"><a href="#">link8</a></li>
          <li class="gel-menu__item"><a href="#">link9</a></li>
          <li class="gel-menu__item is-active"><a href="#">link10</a></li>
          <li class="gel-menu__item"><a href="#">link11</a></li>
          <li class="gel-menu__item"><a href="#">link12</a></li>
          <li class="gel-menu__item"><a href="#">link13</a></li>
        </ul>

        <button class="gel-masthead__nav-toggle js-nav-toggle"></button>

      </div>

    </div>

    <div class="gel-wrap gel-wrap--no-padding">

      <div class="gel-masthead__nav-panel gel-masthead__nav-panel--local js-nav-panel">

      </div>

    </div>

  </div>


</section> <!-- / gel-masthead -->