
.gel-masthead {
  padding: 0;
}


// BRANDING / PAGE TITLE
// ================================================================== //

.gel-masthead__branding {
  padding: $half-spacing-unit 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: map-get($masthead-theme, bg);
  h1 {
    margin: 0;
    color: map-get($masthead-theme, h1-color);
  }
}



// NAVIGATION
// ================================================================== //
// The nav itself is handles by the GEL Menu component.
//
// The selectors below position the GEL Menu(s) within the GEL Masthead component


// Wrap all menus. Used to toggle mobile menu
// ------------------------------------------------- //

.gel-masthead__nav-wrap {
  &--primary {
    display: none;
    &.is-open {
      display: block;
    }
    @include media-query(lap-and-up) {
      display: block;
    }
  }

  &--local {

  }
}



// Desktop nav toggle
// ------------------------------------------------- //

.gel-masthead__nav-toggle {
  display: none;
  @include media-query(lap-and-up) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    &.is-hidden {
      display: none;
    }
  }
}



// Mobile nav toggle
// ------------------------------------------------- //

.gel-masthead__m-nav-toggle {
  height: $base-spacing-unit*2;
  position: absolute;
  top: 50%;
  margin-top: -$base-spacing-unit;
  right: $half-spacing-unit;
  background: red;
  border: none;
  @include media-query(lap-and-up) {
    display: none;
  }
}



// Primary nav wrapper
// ------------------------------------------------- //

.gel-masthead__nav-primary {
  background: map-get($masthead-theme, primary-menu-bg);
  position: relative;
  ul li a {
    color: map-get($masthead-theme, primary-menu-color);
  }
}


.gel-masthead__nav-local {
  background: map-get($masthead-theme, secondary-menu-bg);
  position: relative;
  @include media-query(palm) {
    .gel-menu { display: none; }
    .gel-masthead__nav-toggle {
      display: block;
    }
  }

}

.gel-masthead__nav-wrap--local {
  ul li a {
    color: map-get($masthead-theme, secondary-menu-color);
  }
}

// nav panels
// ------------------------------------------------- //

.gel-masthead__nav-panel {
  display: none;
  &.is-open {
    display: block;
  }
  &--primary {
    background: map-get($masthead-theme, primary-menu-bg);
  }
  &--local {
    background: map-get($masthead-theme, secondary-menu-panel-bg);
  }
}
















.gel-menu {
  list-style: none;
  margin: 0;
  padding: 0 $half-spacing-unit;
  display: block;
  @extend .cf;
  @include media-query(palm) {
    padding: 0;
  }
}


.gel-menu__item {
  float: left;
  a {
    display: block;
    color: map-get($masthead-theme, primary-menu-color);
    padding: $half-spacing-unit;
  }

  &.is-hidden {
    display: none;
  }

  &.is-visible {
    display: block;
  }

  &.is-active {
    .gel-masthead__nav-wrap--primary & {
      background: map-get($masthead-theme, secondary-menu-bg);
      a {
        color: map-get($masthead-theme, secondary-menu-color);
      }
    }
  }

  .gel-masthead__nav-wrap--local & {
    &.is-active {
      background: red;
    }
  }

  @include media-query(palm) {
    float: none;
  }

}

.gel-menu--cols {
  padding: $half-spacing-unit 0;
  @include media-query(lap) {
    padding: $base-spacing-unit $half-spacing-unit;
    column-count: 2;
    column-rule: 1px solid red;
  }
  @include media-query(desk) {
    padding: $base-spacing-unit $half-spacing-unit;
    column-count: 3;
    column-rule: 1px solid red;
  }
  @include media-query(desk-wide) {
    padding: $base-spacing-unit $half-spacing-unit;
    column-count: 4;
    column-rule: 1px solid red;
  }
  .gel-menu__item {
    float: none;
  }
}































