
.gel-masthead {
  padding: 0;
}


// BRANDING / PAGE TITLE
// ================================================================== //

.gel-masthead__branding {
  padding: $half-spacing-unit 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: map-get($masthead-theme, bg);
  h1 {
    margin: 0;
    color: map-get($masthead-theme, h1-color);
  }
}



// NAVIGATION
// ================================================================== //
// The nav itself is handles by the GEL Menu component.
//
// The selectors below position the GEL Menu(s) within the GEL Masthead component


// Wrap all menus. Used to toggle mobile menu
// ------------------------------------------------- //

.gel-masthead__nav-wrap {
  display: none;
  &.is-open {
    display: block;
  }
  @include media-query(lap-and-up) {
    display: block;
  }
}



// Desktop nav toggle
// ------------------------------------------------- //

.gel-masthead__nav-toggle {
  display: none;
  @include media-query(lap-and-up) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    &.is-hidden {
      display: none;
    }
  }
}



// Mobile nav toggle
// ------------------------------------------------- //

.gel-masthead__m-nav-toggle {
  @include media-query(lap-and-up) {
    display: none;
  }
}



// Primary nav wrapper
// ------------------------------------------------- //

.gel-masthead__nav-primary {
  background: map-get($masthead-theme, primary-menu-bg);
  position: relative;
  ul li a {
    color: map-get($masthead-theme, primary-menu-color);
  }
}


.gel-masthead__nav-local {
  background: map-get($masthead-theme, secondary-menu-bg);
  position: relative;
}

.gel-masthead__nav-wrap--local {
  ul li a {
    color: map-get($masthead-theme, secondary-menu-color);
  }
}

// nav panels
// ------------------------------------------------- //

.gel-masthead__nav-panel {
  display: none;
  &.is-open {
    display: block;
  }
  &--primary {
    background: map-get($masthead-theme, primary-menu-bg);
  }
  &--local {
    background: map-get($masthead-theme, secondary-menu-bg);
  }
}













.gel-menu {
  list-style: none;
  margin: 0;
  padding: 0 $half-spacing-unit;
  display: block;
  @extend .cf;
}


.gel-menu__item {
  float: left;
  a {
    display: block;
    color: map-get($masthead-theme, primary-menu-color);
    padding: $half-spacing-unit;
  }

  &.is-hidden {
    display: none;
  }

  &.is-visible {
    display: block;
  }

  &.is-active {
    .gel-masthead__nav-wrap--primary & {
      background: map-get($masthead-theme, secondary-menu-bg);
      a {
        color: map-get($masthead-theme, secondary-menu-color);
      }
    }
  }

  .gel-masthead__nav-wrap--local & {
    &.is-active {
      background: red;
    }
  }

}































  // .gel-masthead__flyout {
  //   margin: 0;
  //   flex-basis: 100%;

  //   h3 {
  //     color: map-get($masthead-theme, h3-color);
  //     margin: 0;
  //     font: 1.2em/1.5 sans-serif;
  //     @include media-query(palm) {
  //       font: 1em/1.5 sans-serif;
  //     }
  //   }

  //   a {
  //     display: flex;
  //     flex-wrap: nowrap;
  //     padding: $half-spacing-unit 0;
  //     align-items: center;
  //     color: map-get($masthead-theme, flyout-color);
  //     span {
  //       flex-grow: 1;
  //     }
  //     i {
  //       width: 20px;
  //       justify-content: space-between;
  //     }
  //   }

  //   ul {
  //     display: none;
  //     li {
  //       border-bottom: none;
  //       margin: 0;
  //     }
  //   }

  //   @include media-query(palm) {
  //     border-top: map-get($masthead-theme, border);
  //     ul {
  //       flex-wrap: wrap;
  //       li {
  //         flex-basis: 100%;
  //         border-top: map-get($masthead-theme, border);
  //       }
  //     }
  //   }

  //   @include media-query(lap-and-up) {
  //     flex-basis: 20%;
  //     flex-grow: 1;
  //     h3 {
  //       .icon {
  //         display: none;
  //       }
  //     }
  //     ul {
  //       display: flex;
  //       flex-wrap: wrap;
  //       li {
  //         flex-basis: 100%;
  //       }
  //     }
  //   }

  //   //use CSS cols for main flyout (A-Z)
  //   &--main {

  //     @include media-query(lap) {
  //       ul {
  //         -webkit-column-count: 3;
  //         -webkit-column-gap: 0;
  //       }
  //     }

  //     @include media-query(desk) {
  //       ul {
  //         -webkit-column-count: 5;
  //         -webkit-column-gap: 0;
  //       }
  //     }

  //     @include media-query(lap-and-up) {
  //       flex-basis: auto;
  //       border-top: none;
  //       padding: $half-spacing-unit 0 0 0;
  //       h3 { display: none; }
  //       ul {
  //         display: block;
  //         li {
  //           border-top: none;
  //           // border-right: map-get($masthead-theme, border);
  //           // padding-right: $half-spacing-unit;
  //           // &:nth-last-child(-n+4) {
  //           //   padding-right: 0;
  //           //   border: none;
  //           // }
  //           a {
  //             margin: 0;
  //           }
  //         }
  //       }
  //     }

  //   }


  //   // flyout open state
  //   &.is-open {
  //     background: map-get($masthead-theme, flyout-bg);
  //     i {
  //       transform: rotate(180deg);
  //     }
  //     ul {
  //       display: flex;
  //     }
  //   }

  // }
// }










