

.gel-content-wrap {
    transition: transform 0.4s;
}

// ------------------------------------------------------------------------------------ //

.gel-header {
    height: 40px;
    border-bottom:  map-get($gel-header-theme, border-h);
    position: relative;
    transition: margin 0.4s;
    background: map-get($gel-header-theme, bg);
    * {
        box-sizing: border-box;
    }
}



// Inner wrap for layout
// ------------------------------------------ //

.gel-header__inner {
    @extend .gel-wrap;
    @extend .gel-wrap--padded;
    display: flex;
    align-items: stretch;
    height: 100%;
    padding: 0;
}



// The BBC logo
// ------------------------------------------ //

.gel-header__logo {
    border-right: map-get($gel-header-theme, border-v);
    display: flex;
    align-items: center;
    padding-right: $base-spacing-unit;
    .gel-header--dark & {
        .light { display: block;}
        .dark { display: none;}
    }
    .gel-header--light & {
        .light { display: none;}
        .dark { display: block;}
    }
}



// 4th block
// ------------------------------------------ //

.gel-header__account {
    display: flex;
    flex-basis: 40px;
    border-right: map-get($gel-header-theme, border-v);
    flex-shrink: 0;
    a {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    span {
        display: none;
    }
}



// Notification CTA
// ------------------------------------------ //

.gel-header__notify {
    display: flex;
    padding: 0 $base-spacing-unit;
    flex-shrink: 0;
    border-right: map-get($gel-header-theme, border-v);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    svg {
        width: 18px;
        opacity: 0.7;
        transition: opacity .1s;
        fill: map-get($gel-header-theme, link-color);
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        background-color: rgba($gel-notify-color, 0);
    }
    &:hover {
        &:after {
            background-color: rgba($gel-notify-color, 1);
        }
        svg {
            opacity: 1;
        }
    }

    &.has-notifications{
        &:before {
            content: '';
            position: absolute;
            top: $half-spacing-unit/2;
            right: $half-spacing-unit/2;
            width: $half-spacing-unit;
            height: $half-spacing-unit;
            background-color: $gel-notify-color;
            border-radius: 50%;
        }
        svg {
            opacity: 1;
        }
    }
    &.animate {
        svg {
            opacity: 1;
            animation: ring 1.5s 0s ease-in-out;
            transform-origin: 50% 4px;
        }
    }

}



// Notification panel layout
// see _header.notify-panel.scss
// ------------------------------------------ //

.gel-header__notify-panel {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    &.is-open {
        visibility: visible;
        display: block;
        pointer-events: auto;
        opacity: 1;
        z-index: 1;
    }
}



// Global BBC menu
// ------------------------------------------ //

.gel-header__menu {
    display: flex;
    align-items: center;
}



// "More" CTA
// ------------------------------------------ //

.gel-header__menu-toggle {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    button {
        padding: 0 $base-spacing-unit;
        border: none;
        background: none;
        outline: none;
        font-size: 14px;
        width: 100%;
        text-align: left;
        color: map-get($gel-header-theme, link-color);
        &:hover {
            background: map-get($gel-header-theme, link-hover-bg);
            color: map-get($gel-header-theme, link-hover-color);
        }
    }
}



// menu item wrap
// ------------------------------------------ //

.gel-header__menu-items {
    @extend %responsive-menu-container;
    flex-grow: 1;
}



// menu item
// ------------------------------------------ //

.gel-header__menu-item {
    @extend %responsive-menu-item;
    border-right: map-get($gel-header-theme, border-v);
    height: 40px;
    font-size: 14px;
    &:after {
        opacity: 0;
        transition: opacity 0.1s;
        content: '';
        position: absolute;
        bottom: 0;
        height: 4px;
        left: 0;
        right: 0;
    }
    a {
        padding: 0 $base-spacing-unit;
        color: map-get($gel-header-theme, link-color);
    }

    // &--news:after   { background-color: map-get($brand-colors, bbc-news); }
    // &--sport:after  { background-color: map-get($brand-colors, bbc-sport); }

    &:hover {
        background: map-get($gel-header-theme, link-hover-bg);
        a {
            color: map-get($gel-header-theme, link-hover-color);
        }
        &:after {
            opacity: 1;
        }
    }

}



// Collapsible menu panel
// ------------------------------------------ //

.gel-header__menu-panel {
    position: absolute;
    top: 40px;
    bottom: 0;
    right: 0;
    left: 0;
    visibility: hidden;
    &.is-open {
        visibility: visible;
        display: block;
        pointer-events: auto;
        opacity: 1;
        z-index: 1;
    }
    h2 {
        position: absolute;
        top: 0;
        left: $half-spacing-unit;
    }
    @include media-query(desk){
        right: $base-spacing-unit;
        left: $base-spacing-unit;
    }

}



// Collapsible menu panel items wrap
// ------------------------------------------ //

.gel-header__menu-panel-items {
    margin: 0;
    padding: $base-spacing-unit 0 0 0 ;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}



// Collapsible menu panel item
// ------------------------------------------ //

.gel-header__menu-panel-item {
    flex-basis: calc(33.3333% - #{$half-spacing-unit});
    margin-bottom: $base-spacing-unit;
    display: flex;
    a {
        padding: $half-spacing-unit;
        flex-grow: 1;
        color: #000;
        text-decoration: none;
        font-weight: 700;
    }
    &:hover {
        background: #000;
        a {
            color: #fff;
        }
    }
    @include media-query(lap) {
        flex-basis: calc(25% - #{$half-spacing-unit});
    }
    @include media-query(desk){
        flex-basis: calc(20% - #{$half-spacing-unit});
    }
    &.is-hidden {
        display: none;
    }
    &.visible.first {
        margin-left: calc(33.333% - #{$half-spacing-unit});
        @include media-query(lap) {
            margin-left: $half-spacing-unit;
        }
    }

}



// Global BBC search box
// ------------------------------------------ //

.gel-header__search {
    position: relative;
    display: flex;
    padding: 0;
    flex-shrink: 0;
    flex-grow: 1;
    align-items: center;
    border-left: $gel-header-border;
    border-right: $gel-header-border;
    @include media-query(palm) {
        flex-basis: 40px;
        flex-grow: 0;
    }

    form {
        display: flex;
        flex-grow: 1;
        align-items: stretch;
    }

    input {
        padding: $half-spacing-unit/2 $half-spacing-unit;
        font-size: 14px;
        border: none;
        cursor: text;
        outline: none;
        @include media-query(palm) {
            display: none;
        }
        flex-grow: 1;
    }

    button {
        border: none;
        margin: 0;
        background: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 40px;
        i {
            width: auto;
            height: auto;
            color: map-get($gel-header-theme, link-color);
        }
    }

    @include media-query(map-get($break, m)) {
        flex-basis: 200px;
    }

}

