.gel-wrap {
    height: 100%;
}

.notify-panel {
    background: #fff;
    &:after {
        content: '';
        box-shadow: 0px 0px $half-spacing-unit $half-spacing-unit/2 rgba(0,0,0,0.39);
        position: absolute;
        width: 100%;
        height: 0;
        z-index: 2;
    }
    &:after {
        bottom: 0;
    }

    // ------------------------------------------ //

    &__header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: $gel-notify-color;
        z-index: 3;
        height: 60px;
        box-shadow: 0px 0px $half-spacing-unit $half-spacing-unit/2 rgba(0,0,0,0.39);
        .gel-wrap {
            display: flex;
            align-items: center;
        }
        h3 {
            flex-grow: 1;
            text-transform: uppercase;
            margin: 0;
            font-family: 'gill';
            font-weight: 500;
            color: #fff;
        }
        button {
            margin: 0;
            padding: 0;
            border: none;
            background: #fff;
            cursor: pointer;
            margin-right: $base-spacing-unit;
            &:last-child {
                margin-right: 0;
            }
        }
    }


    // ------------------------------------------ //

    &__items {
        margin: 0;
        padding: $half-spacing-unit 0;
        list-style: none;
        overflow-Y: scroll;
        position: absolute;
        top: 60px;
        right: 0;
        bottom: 0;
        left: 0;
        @include media-query(map-get($break, s)) {
            left: $base-spacing-unit;
            right: $base-spacing-unit;
        }
    }

        &__item {
            // padding: $base-spacing-unit 12px;
            position: relative;
            background: #fff;
            border-bottom: 1px solid #949494;
            @extend .gel-wrap;
            height: auto;
            padding-top: $base-spacing-unit;
            padding-bottom: $base-spacing-unit;
            a {
                display: flex;
                text-decoration: none;
                color: #000;
            }
            h4 {
                font-weight: 500;
                margin: 0 0 $half-spacing-unit/2 0;
            }
            p {
                color: #949494;
                margin: 0;
            }
            &:last-child {
                border-bottom: none;
            }
            &.is-new {
                h4 {
                    font-weight: 700;
                }
                .notify-panel__item-attribution {
                    &:after {
                        content: '';
                        position: absolute;
                        width: $half-spacing-unit;
                        height: $half-spacing-unit;
                        border-radius: 50%;
                        background: $gel-notify-color;
                        left: 0;
                        margin-top: $half-spacing-unit;
                    }
                }
            }
            &.is-alert {

            }
            &.is-open {
                .notify-panel__item-control--delete {
                    transform: translateX(0);
                }
            }
        }

            &__item-attribution {
                position: relative;
                margin-top: $half-spacing-unit/2;
                .icon {
                    font-size: 20px;
                }
            }

            &__item-details {
                margin-left: $half-spacing-unit;
            }

            &__item-controls {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 140px;
            }
                &__item-control {
                    position: absolute;
                    width: 50%;
                    top: 0;
                    bottom: 0;
                    &--options {
                        background: #fff;
                        right: 0;
                        z-index: 1;
                    }
                    &--delete {
                        background: #fff;
                        // left: 50%;
                        transform: translateX(100%);
                        transition: all 0.4s;
                    }
                }

    &__settings {
        position: absolute;
        background: $gel-notify-color;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 4;
        display: none;
        &.is-open {
            display: block;
        }
    }

    &__settings-header {
        display: flex;
        height: 60px;
        z-index: 1;
        align-items: center;

        h3 {
            color: #fff;
            flex-grow: 1;
            text-transform: uppercase;
            margin: 0;
            font-family: 'gill';
            font-weight: 500;
        }
        button {
            margin: 0;
            padding: 0;
            border: none;
            background: transparent;
            color: #fff;
            cursor: pointer;
        }

    }

}
