$gel-footer-theme: (
  bg: #000000,
  border: 1px solid #fff,
  link-color: #fff,
  color: #fff
)!default;

.gel-footer {
  margin: $base-spacing-unit 0;
  padding-top: $base-spacing-unit;
  background: map-get($gel-footer-theme, bg);
  h3, p {
    color: map-get($gel-footer-theme, color);
  }
  a {
    color: map-get($gel-footer-theme, link-color)
  }
}


.gel-footer__nav {
  border-top: map-get($gel-footer-theme, border);
  border-bottom:  map-get($gel-footer-theme, border);
  padding: $base-spacing-unit 0;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -$half-spacing-unit;
    @include media-query(desk) {
      margin-left: -$base-spacing-unit;
    }
    li {
      margin: 0;
      padding: 0;
      a {
        display: block;
        padding: $half-spacing-unit/2 0;
        margin-left: $half-spacing-unit;
      }
      @include media-query(palm) {
        flex-basis: 50%;
        &:nth-child(odd) {
          a {
            border-right: map-get($gel-footer-theme, border);
          }
        }
      }
      @include media-query(lap) {
        flex-basis: 33.3333%;
        a {
          border-right: map-get($gel-footer-theme, border);
        }
        &:nth-of-type(3n) a {
          border-right: none;
        }
      }
      @include media-query(desk) {
        flex-basis: 25%;
        a {
          margin-left: $base-spacing-unit;
          border-right: map-get($gel-footer-theme, border);
        }
        &:nth-of-type(4n) a {
          border-right: none;
        }
      }
    }
  }
}

.gel-footer__links {
  padding: $base-spacing-unit 0;
  border-bottom: map-get($gel-footer-theme, border);
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -$half-spacing-unit;
    @include media-query(desk) {
      margin-left: -$base-spacing-unit;
    }
    li {
      margin: 0;
      padding: 0;
      a {
        display: block;
        padding: $half-spacing-unit/2 0;
        margin-left: $half-spacing-unit;
      }
      @include media-query(palm) {
        flex-basis: 50%;
      }
      @include media-query(lap) {
        flex-basis: 33.3333%;
      }
      @include media-query(desk) {
        flex-basis: 25%;
        a {
          margin-left: $base-spacing-unit;
        }
      }
    }
  }
}


.gel-footer__legal {
  padding: $base-spacing-unit 0;
  p {
    margin: 0;
  }
}