
$gel-header-border: 1px solid #ccc;
$gel-notify-color: #1886d1;

.gel-content-wrap {
    transition: transform 0.4s;
}
// ------------------------------------------------------------------------------------ //

.gel-header {
    background: #fff;
    height: 40px;
    border-bottom: $gel-header-border;
    position: relative;
    transition: margin 0.4s;
    * {
        box-sizing: border-box;
    }

    // ------------------------------------------ //

    &__inner {
        @extend %gel-wrapper;
        display: flex;
        align-items: stretch;
        height: 100%;
    }


    // ------------------------------------------ //

    &__logo {
        padding-right: $half-spacing-unit;
        border-right: $gel-header-border;
        display: flex;
        align-items: center;
        img {
            width: 84px;
            height: auto;
            display: block
        }
    }


    // ------------------------------------------ //

    &__account {
        display: flex;
        flex-basis: 40px;
        border-right: $gel-header-border;
        flex-shrink: 0;
        a {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        span {
            display: none;
        }
    }


    // ------------------------------------------ //

    &__notify {
        display: flex;
        flex-basis: 40px;
        flex-shrink: 0;
        border-right: $gel-header-border;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-bottom: 3px solid transparent;
        svg {
            margin-bottom: -3px;
        }
        &.has-notifications,
        &:hover {
            border-bottom: 3px solid $gel-notify-color;
            svg {
                animation: ring 1s 0s ease-in-out;
                transform-origin: 50% 4px;
            }
        }
    }

    &__notify-panel {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        background: #fff;
        overflow: hidden;
        pointer-events: none;
        // display: none;
        &.is-open {
            display: block;
            transition: opacity 0.7s 0.3s;
            pointer-events: auto;
            opacity: 1;
        }
    }


    // ------------------------------------------ //

    &__menu {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
        &__menu-toggle {
            display: flex;
            align-items: stretch;
            button {
                padding: 0 $base-spacing-unit;
                border: none;
                background: none;
                font-weight: 700;
                outline: none;
            }
        }

        &__menu-items {
            flex-grow: 1;
            margin: 0;
            padding: 0;
            list-style: none;
        }

            &__menu-item {
                border-right: $gel-header-border;
                height: 40px;
                display: flex;
                align-items: stretch;
                float: left;
                &.hidden {
                    display: none;
                }
                a {
                    padding: 0 $base-spacing-unit;
                    color: #000;
                    text-decoration: none;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                }
                &--more {
                    float: right;
                    display: inline-block;
                }
            }


    &__menu-panel {
        display: none;
        position: absolute;
        top: 40px;
        bottom: 0;
        right: $half-spacing-unit;
        left: $half-spacing-unit;
        h2 {
            position: absolute;
            top: 0;
            left: 0;
        }
        @include media-query(map-get($break, s)) {
            right: $base-spacing-unit;
            left: $base-spacing-unit;

        }

    }
        &__menu-panel-items {
            margin: 0;
            padding: $base-spacing-unit 0 0 0 ;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            margin-left: -$half-spacing-unit;
            @include media-query(map-get($break, s)) {
                padding-left: calc(20% - #{$half-spacing-unit});
            }

        }

            &__menu-panel-item {
                margin-left: $half-spacing-unit;
                flex-basis: calc(33.3333% - #{$half-spacing-unit});
                margin-bottom: $base-spacing-unit;
                display: flex;
                a {
                    padding: $half-spacing-unit;
                    flex-grow: 1;
                    color: #000;
                    text-decoration: none;
                    font-weight: 700;
                }
                &:hover {
                    background: #000;
                    a {
                        color: #fff;
                    }
                }
                @include media-query(map-get($break, xs)) {
                }
                @include media-query(map-get($break, s)) {
                    flex-basis: calc(25% - #{$half-spacing-unit});
                }
                @include media-query(map-get($break, m)) {

                }
                @include media-query(map-get($break, l)) {

                }

                &.hidden {
                    display: none;
                }

                &.visible.first {
                    margin-left: calc(33.333% + #{$half-spacing-unit});
                    @include media-query(map-get($break, s)) {
                        margin-left: $half-spacing-unit;
                    }

                }
            }

    // ------------------------------------------ //

    &__search {
        position: relative;
        display: flex;
        padding: 0;
        flex-basis: 40px;
        flex-grow: 0;
        flex-shrink: 0;
        align-items: stretch;
        border-left: $gel-header-border;
        border-right: $gel-header-border;
        form {
            display: flex;
            align-items: stretch;
        }
        input {
            display: none;
            flex-grow: 1;
        }
        button {
            border: none;
            margin: 0;
            background: transparent;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            padding: 0;
            width: 40px;
            i {
                width: auto;
                height: auto;
            }
        }
        @include media-query(map-get($break, m)) {
            flex-basis: 200px;
        }

    }

}
