


.gel-content-wrap {
    transition: transform 0.4s;
}
// ------------------------------------------------------------------------------------ //

.gel-header {
    height: 40px;
    border-bottom: $gel-header-border;
    position: relative;
    transition: margin 0.4s;
    * {
        box-sizing: border-box;
    }

    // ------------------------------------------ //

    &__inner {
        @extend %gel-wrapper;
        display: flex;
        align-items: stretch;
        height: 100%;
        padding: 0;
    }


    // ------------------------------------------ //

    &__logo {
        border-right: $gel-header-border;
        display: flex;
        align-items: center;
        font-family: 'gill';
        text-align: center;
        span {
            border-left: $gel-header-border;
            border-bottom: $gel-header-border;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:first-child {
                border-left: none;
            }
            i {
                font-style: normal;
                font-size: 26px;
                line-height: 1;
            }
        }
        // img {
        //     width: 84px;
        //     height: auto;
        //     display: block
        // }
    }


    // ------------------------------------------ //

    &__account {
        display: flex;
        flex-basis: 40px;
        border-right: $gel-header-border;
        flex-shrink: 0;
        a {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        span {
            display: none;
        }
    }


    // ------------------------------------------ //

    &__notify {
        display: flex;
        padding: 0 $base-spacing-unit;
        flex-shrink: 0;
        border-right: $gel-header-border;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        svg {
            width: 18px;
            opacity: 0.7;
            transition: opacity .1s;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 3px;
            background-color: rgba($gel-notify-color, 0);
        }
        &:hover {
            &:after {
                background-color: rgba($gel-notify-color, 1);
            }
            svg {
                opacity: 1;
            }
        }

        &.has-notifications{
            &:before {
                content: '';
                position: absolute;
                top: $half-spacing-unit/2;
                right: $half-spacing-unit/2;
                width: $half-spacing-unit;
                height: $half-spacing-unit;
                background-color: $gel-notify-color;
                border-radius: 50%;
            }
            &:after {
                background-color: rgba($gel-notify-color, 1);
            }
            svg {
                animation: ring 1s 0s ease-in-out;
                transform-origin: 50% 4px;
                opacity: 1;
            }
        }
    }

    &__notify-panel {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        overflow: hidden;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        z-index: 0;
        &.is-open {
            visibility: visible;
            display: block;
            pointer-events: auto;
            opacity: 1;
            z-index: 1;
        }
    }


    // ------------------------------------------ //

    &__menu {
        // flex-grow: 1;
        display: flex;
        align-items: center;
    }
        &__menu-toggle {
            display: flex;
            align-items: stretch;
            padding-right: 60px;
            button {
                padding: 0 $base-spacing-unit;
                border: none;
                background: none;
                font-weight: 300;
                outline: none;
                font-size: 14px;
            }
        }

        &__menu-items {
            flex-grow: 1;
            margin: 0;
            padding: 0;
            list-style: none;
        }

            &__menu-item {
                border-right: $gel-header-border;
                height: 40px;
                display: flex;
                align-items: stretch;
                float: left;
                position: relative;
                font-size: 14px;
                &:after {
                    opacity: 0;
                    transition: opacity 0.1s;
                    content: '';
                    position: absolute;
                    bottom: 0;
                    height: 4px;
                    left: 0;
                    right: 0;
                }

                &--news:after   { background-color: map-get($brand-colors, bbc-news); }
                &--sport:after  { background-color: map-get($brand-colors, bbc-sport); }

                &:hover {
                    &:after {
                        opacity: 1;
                    }
                }

                &.hidden {
                    display: none;
                }
                a {
                    padding: 0 $base-spacing-unit;
                    text-decoration: none;
                    font-weight: 300;
                    display: flex;
                    align-items: center;
                }
                &--more {
                    float: right;
                    display: inline-block;
                }
            }


    &__menu-panel {
        position: absolute;
        top: 40px;
        bottom: 0;
        right: 0;
        left: 0;

        visibility: hidden;
        &.is-open {
            visibility: visible;
            display: block;
            pointer-events: auto;
            opacity: 1;
            z-index: 1;
        }
        h2 {
            position: absolute;
            top: 0;
            left: $half-spacing-unit;
        }
        @include media-query(map-get($break, s)) {
            right: $base-spacing-unit;
            left: $base-spacing-unit;

        }

    }
        &__menu-panel-items {
            margin: 0;
            padding: $base-spacing-unit 0 0 0 ;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            // margin-left: -$half-spacing-unit;
            @include media-query(map-get($break, s)) {
                // padding-left: calc(20% - #{$half-spacing-unit});
            }

        }

            &__menu-panel-item {
                // margin-left: $half-spacing-unit;
                flex-basis: calc(33.3333% - #{$half-spacing-unit});
                margin-bottom: $base-spacing-unit;
                display: flex;
                a {
                    padding: $half-spacing-unit;
                    flex-grow: 1;
                    color: #000;
                    text-decoration: none;
                    font-weight: 700;
                }
                &:hover {
                    background: #000;
                    a {
                        color: #fff;
                    }
                }
                @include media-query(map-get($break, xs)) {
                }
                @include media-query(map-get($break, s)) {
                    flex-basis: calc(25% - #{$half-spacing-unit});
                }
                @include media-query(map-get($break, m)) {

                }
                @include media-query(map-get($break, l)) {

                }

                &.hidden {
                    display: none;
                }

                &.visible.first {
                    margin-left: calc(33.333% - #{$half-spacing-unit});
                    @include media-query(map-get($break, s)) {
                        margin-left: $half-spacing-unit;
                    }

                }
            }

    // ------------------------------------------ //

    &__search {
        position: relative;
        display: flex;
        padding: 0;
        flex-shrink: 0;
        flex-grow: 1;
        align-items: stretch;
        border-left: $gel-header-border;
        border-right: $gel-header-border;
        // max-width: 160px;
        @include media-query(palm) {
            flex-basis: 40px;
            flex-grow: 0;
        }

        form {
            display: flex;
            flex-grow: 1;
            align-items: stretch;
        }
        input {
            font-size: 14px;
            border: none;
            cursor: text;
            outline: none;
            @include media-query(palm) {
                display: none;
            }
            flex-grow: 1;
        }
        button {
            border: none;
            margin: 0;
            background: transparent;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            width: 40px;
            i {
                width: auto;
                height: auto;
            }
        }
        @include media-query(map-get($break, m)) {
            flex-basis: 200px;
        }

    }

}
