$gel-product: bbc-sport;

$lap-start:         550px;
$desk-start:        768px;
$desk-wide-start:   1008px;
$responsive-extra: true;

// bower:scss
@import "bower_components/gos-core/src/styles/main.scss";
// endbower




@import 'header';
@import 'gel-promo';


// TODO: add to core
.wrap {
    width: 100%;
}

body {
    background: #cccccc;
}
.gel-content-wrap {
    background: #E6E6E6;
}


%responsive-menu-container {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

%responsive-menu-item {
    float: left;
    display: flex;
    position: relative;
    &.is-hidden {
        display: none;
    }
    a {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

}
