$gel-product: bbc-sport;

// bower:scss
@import "bower_components/gos-core/src/styles/main.scss";
// endbower




@import 'header';


// TODO: add to core
.wrap {
    width: 100%;
}
body {
    background: #f7f7f7;
}

%responsive-menu-container {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

%responsive-menu-item {
    float: left;
    display: flex;
    position: relative;
    &.is-hidden {
        display: none;
    }
    a {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

}
