@import '../../bower_components/gos-core/dist/styles/core.scss';

$gel-header-border: 1px solid #ccc;
$gel-notify-color: #1886d1;


// ------------------------------------------------------------------------------------ //

.gel-header {
    background: #fff;
    height: 40px;
    border-bottom: $gel-header-border;
    position: relative;
    transition: margin 0.4s;
    * {
        box-sizing: border-box;
    }

    // ------------------------------------------ //

    &__inner {
        @extend %gel-wrapper;
        display: flex;
        align-items: stretch;
        height: 100%;
    }


    // ------------------------------------------ //

    &__logo {
        padding-right: $half-spacing-unit;
        border-right: $gel-header-border;
        display: flex;
        align-items: center;
        img {
            width: 84px;
            height: auto;
            display: block
        }
    }


    // ------------------------------------------ //

    &__account {
        display: flex;
        flex-basis: 40px;
        border-right: $gel-header-border;
        flex-shrink: 0;
        a {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        span {
            display: none;
        }
    }


    // ------------------------------------------ //

    &__notify {
        display: flex;
        flex-basis: 40px;
        flex-shrink: 0;
        border-right: $gel-header-border;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-bottom: 3px solid transparent;
        svg {
            margin-bottom: -3px;
        }
        &:hover {
            border-bottom: 3px solid $gel-notify-color;
            svg {
                animation: ring 1s 0s ease-in-out;
                transform-origin: 50% 4px;
            }
        }
    }

    &__notify-panel {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        background: #fff;
        overflow: hidden;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.7s 0s;
        &.is-open {
            transition: opacity 0.7s 0.3s;
            pointer-events: auto;
            opacity: 1;
        }
    }


    // ------------------------------------------ //

    &__menu {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

        &__menu-items {
            flex-grow: 1;
            margin: 0;
            padding: 0;
            list-style: none;
        }

            &__menu-item {
                border-right: $gel-header-border;
                height: 40px;
                display: flex;
                align-items: stretch;
                float: left;
                &.hidden {
                    display: none;
                }
                a {
                    padding: 0 $base-spacing-unit;
                    color: #000;
                    text-decoration: none;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                }
                &--more {
                    float: right;
                    display: inline-block;
                }
            }


    &__menu-panel {
        background: red;
        position: absolute;
        top: 40px;
        bottom: 0;
        right: $half-spacing-unit;
        left: $half-spacing-unit;
        h2 {
            position: absolute;
            top: 0;
            left: 0;
        }
        @include mq(map-get($break, s)) {
            right: $base-spacing-unit;
            left: $base-spacing-unit;

        }

    }
        &__menu-panel-items {
            margin: 0;
            padding: $base-spacing-unit 0 0 0 ;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            margin-left: -$half-spacing-unit;
            @include mq(map-get($break, s)) {
                padding-left: calc(20% - #{$half-spacing-unit});
            }

        }

            &__menu-panel-item {
                margin-left: $half-spacing-unit;
                flex-basis: calc(33.3333% - #{$half-spacing-unit});
                margin-bottom: $base-spacing-unit;
                display: flex;
                a {
                    padding: $half-spacing-unit;
                    flex-grow: 1;
                    color: #000;
                    text-decoration: none;
                    font-weight: 700;
                }
                &:hover {
                    background: #000;
                    a {
                        color: #fff;
                    }
                }
                @include mq(map-get($break, xs)) {
                }
                @include mq(map-get($break, s)) {
                    flex-basis: calc(25% - #{$half-spacing-unit});
                }
                @include mq(map-get($break, m)) {

                }
                @include mq(map-get($break, l)) {

                }

                &.hidden {
                    display: none;
                }

                &.visible.first {
                    margin-left: calc(33.333% + #{$half-spacing-unit});
                    @include mq(map-get($break, s)) {
                        margin-left: $half-spacing-unit;
                    }

                }
            }

    // ------------------------------------------ //

    &__search {
        position: relative;
        display: flex;
        padding: 0;
        flex-basis: 40px;
        flex-grow: 0;
        flex-shrink: 0;
        align-items: stretch;
        border-left: $gel-header-border;
        border-right: $gel-header-border;
        input {
            flex-grow: 1;
        }
        button {
            border: none;
            margin: 0;
            background: transparent;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            padding: 0;
            width: 40px;
            i {
                width: auto;
                height: auto;
            }
        }
        @include mq(map-get($break, m)) {
            flex-basis: 200px;
        }

    }

}


// ------------------------------------------------------------------------------------ //

.notify-panel {


    // ------------------------------------------ //

    &__header {
        @extend %gel-wrapper;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        display: flex;
        height: 40px;
        z-index: 1;
        align-items: center;

        h3 {
            flex-grow: 1;
            text-transform: uppercase;
            margin: 0;
            font-family: 'gill';
            font-weight: 500;
        }
        button {
            margin: 0;
            padding: 0;
            border: none;
            background: #fff;
            cursor: pointer;
        }
    }


    // ------------------------------------------ //

    &__items {
        margin: 0;
        padding: 40px 0 0 0;
        list-style: none;
        overflow-Y: scroll;
        position: absolute;
        top: 0;
        right: $half-spacing-unit;
        bottom: 0;
        left: $half-spacing-unit;
        @include mq(map-get($break, s)) {
            left: $base-spacing-unit;
            right: $base-spacing-unit;
        }
    }

        &__item {
            border-bottom: 1px solid #ccc;
            padding: $base-spacing-unit 0;
            a {
                display: flex;
                text-decoration: none;
                color: #000;
            }
            h4 {
                font-weight: 500;
                margin: 0 0 $half-spacing-unit/2 0;
            }
            p {
                color: #949494;
                margin: 0;
            }

            &.is-new {
                h4 {
                    font-weight: 700;
                }
                .notify-panel__item-attribution {
                    &:after {
                        content: '';
                        position: absolute;
                        width: $half-spacing-unit;
                        height: $half-spacing-unit;
                        border-radius: 50%;
                        background: $gel-notify-color;
                        left: 0;
                        margin-top: $half-spacing-unit;
                    }
                }
            }
            &.is-alert {

            }
        }

            &__item-attribution {
                position: relative;
                margin-top: $half-spacing-unit/2;
                .icon {
                    font-size: 20px;
                }
            }

            &__item-details {
                margin-left: $half-spacing-unit;
            }

    &__settings {
        position: absolute;
        background: $gel-notify-color;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: none;
        &.is-open {
            display: block;
        }
    }

    &__settings-header {
        display: flex;
        height: 40px;
        z-index: 1;
        align-items: center;

        h3 {
            color: #fff;
            flex-grow: 1;
            text-transform: uppercase;
            margin: 0;
            font-family: 'gill';
            font-weight: 500;
        }
        button {
            margin: 0;
            padding: 0;
            border: none;
            background: transparent;
            color: #fff;
            cursor: pointer;
        }

    }

}





















html, body, .gel-content-wrap {
    height: 100%;
}

.gel-content-wrap {
    background: #fff;
    position: relative;
    z-index: 1;
}


.gel-content,
.gel-masthead {
    // display: none;
    &__inner {
    }
}

.wrap {
    @extend %gel-wrapper;
    position: relative;
    height: 100%;
}

.gel-masthead {
    background: #444444;
    padding: $base-spacing-unit*2 0;
    h1 {
        margin: 0;
        color: #fff;
    }
}

.gel-content {

}


%gel-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 $half-spacing-unit;
    @include mq(map-get($break, s)) {
        padding: 0 $base-spacing-unit;
    }
}





.icon {

    &-time-remaining {
        font-family: 'bbcicons--core';
        &:before {
            content: '\E013';
        }
    }

    &--settings {
        font-family: 'bbcicons--core';
        &:before {
            content: '\E026';
        }
    }

    &--search {
        font-family: 'bbcicons--core';
        &:before {
            content: '\E009';
        }
    }

    &--alert {
        font-family: 'bbcicons--core';
        &:before {
            content: '\E012';
        }
    }

}





@font-face {
    font-family: 'gill';
    src: url(http://clients.tuimedia.com/bbc-fonts/GillSansMT.ttf);
}


@keyframes ring {
    0% { transform: rotate(0); }
    10% { transform: rotate(30deg); }
    20% { transform: rotate(-28deg); }
    30% { transform: rotate(34deg); }
    40% { transform: rotate(-32deg); }
    50% { transform: rotate(30deg); }
    60% { transform: rotate(-28deg); }
    70% { transform: rotate(26deg); }
    80% { transform: rotate(-24deg); }
    90% { transform: rotate(22deg); }
    100% { transform: rotate(0); }
}