extends layouts/base
block content

  div.gel-header.js-header
    div.gel-header__inner

      div.gel-header__logo
        img(src="http://clients.tui.co.uk/bbc-assets/logo.png")

      div.gel-header__account
        a(href="#")
          img(src="http://static.bbci.co.uk/id/0.32.00/img/bbcid_orb_signin_dark.png")
        span Sign In

      div.gel-header__notify.js-notify
        svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", width="20.363px", height="20.363px", viewBox="0 0 20.363 20.363", xml:space="preserve")
          path(fill-rule="evenodd", clip-rule="evenodd", d="M16.545,11.454V7.636c-0.146-2.934-2.29-5.352-5.091-5.918V0H8.909v1.718c-2.8,0.567-4.945,2.985-5.091,5.918v3.818L0,16.545h20.363L16.545,11.454z M7.636,20.363h5.091v-2.545H7.636V20.363z")

      div.gel-header__notify-panel.notify-panel.js-notify-panel
        div.wrap
          div.notify-panel__header
            h3 Notifications
            button.icon.icon--settings.js-notify-settings
            button.icon.icon--close.js-notify-close

          ul.notify-panel__items
            li.notify-panel__item.is-new.is-alert.js-notify-item
              a(href="#")
                div.notify-panel__item-attribution
                  i.icon.icon--iplayer
                div.notify-panel__item-details
                  h4 Curabitur viverra porttitor ex non pharetra. Nunc lorem elit, imperdiet in feugiat sit amet.
                  p Phasellus arcu ipsum | 1 minute ago
            li.notify-panel__item.is-new.is-alert.js-notify-item
              a(href="#")
                div.notify-panel__item-attribution
                  i.icon.icon--iplayer
                div.notify-panel__item-details
                  h4 Curabitur viverra porttitor ex non pharetra. Nunc lorem elit, imperdiet in feugiat sit amet.
                  p Phasellus arcu ipsum | 1 minute ago
            li.notify-panel__item.is-new.js-notify-item
              a(href="#")
                div.notify-panel__item-attribution
                  i.icon.icon--iplayer
                div.notify-panel__item-details
                  h4 Curabitur viverra porttitor ex non pharetra. Nunc lorem elit, imperdiet in feugiat sit amet.
                  p Phasellus arcu ipsum | 1 minute ago
            li.notify-panel__item.js-notify-item
              a(href="#")
                div.notify-panel__item-attribution
                  i.icon.icon--iplayer
                div.notify-panel__item-details
                  h4 Curabitur viverra porttitor ex non pharetra. Nunc lorem elit, imperdiet in feugiat sit amet.
                  p Phasellus arcu ipsum | 1 minute ago
            li.notify-panel__item.js-notify-item
              a(href="#")
                div.notify-panel__item-attribution
                  i.icon.icon--iplayer
                div.notify-panel__item-details
                  h4 Curabitur viverra porttitor ex non pharetra. Nunc lorem elit, imperdiet in feugiat sit amet.
                  p Phasellus arcu ipsum | 1 minute ago
            li.notify-panel__item.js-notify-item
              a(href="#")
                div.notify-panel__item-attribution
                  i.icon.icon--iplayer
                div.notify-panel__item-details
                  h4 Curabitur viverra porttitor ex non pharetra. Nunc lorem elit, imperdiet in feugiat sit amet.
                  p Phasellus arcu ipsum | 1 minute ago
            li.notify-panel__item.js-notify-item
              a(href="#")
                div.notify-panel__item-attribution
                  i.icon.icon--iplayer
                div.notify-panel__item-details
                  h4 Curabitur viverra porttitor ex non pharetra. Nunc lorem elit, imperdiet in feugiat sit amet.
                  p Phasellus arcu ipsum | 1 minute ago
            li.notify-panel__item.js-notify-item
              a(href="#")
                div.notify-panel__item-attribution
                  i.icon.icon--iplayer
                div.notify-panel__item-details
                  h4 Curabitur viverra porttitor ex non pharetra. Nunc lorem elit, imperdiet in feugiat sit amet.
                  p Phasellus arcu ipsum | 1 minute ago
            li.notify-panel__item.js-notify-item
              a(href="#")
                div.notify-panel__item-attribution
                  i.icon.icon--iplayer
                div.notify-panel__item-details
                  h4 Curabitur viverra porttitor ex non pharetra. Nunc lorem elit, imperdiet in feugiat sit amet.
                  p Phasellus arcu ipsum | 1 minute ago
            li.notify-panel__item.js-notify-item
              a(href="#")
                div.notify-panel__item-attribution
                  i.icon.icon--iplayer
                div.notify-panel__item-details
                  h4 Curabitur viverra porttitor ex non pharetra. Nunc lorem elit, imperdiet in feugiat sit amet.
                  p Phasellus arcu ipsum | 1 minute ago
            li.notify-panel__item.js-notify-item
              a(href="#")
                div.notify-panel__item-attribution
                  i.icon.icon--iplayer
                div.notify-panel__item-details
                  h4 Curabitur viverra porttitor ex non pharetra. Nunc lorem elit, imperdiet in feugiat sit amet.
                  p Phasellus arcu ipsum | 1 minute ago

        div.notify-panel__settings.js-notify-settings-panel
          div.wrap
            div.notify-panel__settings-header
              h3 Preferences
              button.icon.icon--close.js-notify-settings-close
            div.notify-panel__settings-content

      div.gel-header__menu
        ul.gel-header__menu-items.js-menu-primary
          li.gel-header__menu-item
            a(href="#")
              span News
          li.gel-header__menu-item
            a(href="#")
              span Sport
          li.gel-header__menu-item
            a(href="#")
              span Weather
          li.gel-header__menu-item
            a(href="#")
              span iPlayer
          li.gel-header__menu-item
            a(href="#")
              span TV
          li.gel-header__menu-item
            a(href="#")
              span Radio
          li.gel-header__menu-item
            a(href="#")
              span CBBC
          li.gel-header__menu-item
            a(href="#")
              span CBeebies
          li.gel-header__menu-item
            a(href="#")
              span Arts
          li.gel-header__menu-item
            a(href="#")
              span WW1
          li.gel-header__menu-item
            a(href="#")
              span Food
          li.gel-header__menu-item
            a(href="#")
              span iWonder
          li.gel-header__menu-item
            a(href="#")
              span Bitesize
          li.gel-header__menu-item
            a(href="#")
              span Music
          li.gel-header__menu-item
            a(href="#")
              span Earth
          li.gel-header__menu-item
            a(href="#")
              span Local
          li.gel-header__menu-item
            a(href="#")
              span Travel

      div.gel-header__menu-toggle
        button.js-menu-toggle Menu

      div.gel-header__menu-panel.js-menu-panel
        div.wrap

          h2 More
          ul.gel-header__menu-panel-items.js-menu-secondary
            li.gel-header__menu-panel-item
              a(href="#") News
            li.gel-header__menu-panel-item
              a(href="#") Sport
            li.gel-header__menu-panel-item
              a(href="#") Weather
            li.gel-header__menu-panel-item
              a(href="#") iPlayer
            li.gel-header__menu-panel-item
              a(href="#") TV
            li.gel-header__menu-panel-item
              a(href="#") Radio
            li.gel-header__menu-panel-item
              a(href="#") CBBC
            li.gel-header__menu-panel-item
              a(href="#") CBeebies
            li.gel-header__menu-panel-item
              a(href="#") Arts
            li.gel-header__menu-panel-item
              a(href="#") WW1
            li.gel-header__menu-panel-item
              a(href="#") Food
            li.gel-header__menu-panel-item
              a(href="#") iWonder
            li.gel-header__menu-panel-item
              a(href="#") Bitesize
            li.gel-header__menu-panel-item
              a(href="#") Music
            li.gel-header__menu-panel-item
              a(href="#") Earth
            li.gel-header__menu-panel-item
              a(href="#") Local
            li.gel-header__menu-panel-item
              a(href="#") Travel

      div.gel-header__search
        form
          input(type="text", placeholder="Search the BBC...")
          button(type="submit")
            i.icon.icon--search

  div.gel-content-wrap.js-content-wrap

    div.gel-masthead
      div.wrap
        h1 Page Header

    div.gel-content
      div.wrap

        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis varius lobortis. Etiam hendrerit scelerisque facilisis. Vivamus blandit est mi, quis ullamcorper augue posuere mollis. Curabitur auctor tempor condimentum. Nulla maximus, eros non faucibus sodales, justo odio bibendum tellus, id ultricies quam sem sit amet nibh. Sed pharetra interdum tempor. Vestibulum vel urna vitae sem varius luctus. Fusce ullamcorper est at volutpat elementum. Proin odio neque, commodo ut tortor a, porttitor sagittis justo. Proin dapibus purus quis magna congue elementum. Mauris ultricies arcu odio. Donec ornare justo vitae eros sodales, in fermentum turpis cursus.

        p Mauris ornare luctus nisl. Donec libero sem, lobortis ac mauris id, vehicula vehicula magna. Nunc id sagittis tortor. Nulla porta, est eu malesuada varius, metus erat hendrerit lectus, a tristique tortor ligula vel nisi. Vivamus vehicula ornare velit, vel pharetra enim sollicitudin quis. Aliquam non maximus ex. Donec elit sapien, egestas sit amet augue at, bibendum commodo erat. Integer nec dui ac leo pharetra faucibus nec nec mauris. Integer in molestie diam, vitae fringilla neque. Suspendisse aliquam scelerisque tincidunt. Mauris laoreet tincidunt nunc, eu faucibus nisi auctor euismod. Sed efficitur mauris non leo maximus molestie. Integer at diam et elit pharetra euismod eu non lectus.
